body
{
        background-color: lightblue;
}
h1{
    color: red;
    background-color:aqua;
    text-align: center;
    font-style: italic;
     text-decoration: underline;
 }
p{
   font-family: Verdana;
   font-size: 20px;
   color:red;
   background-color: yellow;
 }
.name{
   background-color: yellow;
   color: red;
   text-align: center;
}